:root{
    --orange: #F26B0C;
    --grey: #DFE0DF;
    --light-brown: #693B21;
    --Brown: #402E32

}

.navbar{
    background-color: var(--orange);
    display: flex;
    position: fixed;
    flex-direction: column;
    max-width: 30%;
    height: 100vh;
}

.navbar h1{
    padding: 1.5em 1em 1.5em;
    text-align: center;
    font-size: 26px;
}

.navbar h1 a{
    text-decoration: none;
    color: black;
}

.navbar ul{
    text-decoration: none;
    list-style: none;
    margin-top: 1em;
}

.navbar ul li{
    text-decoration: none;
    list-style: none;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
}